 @import url("https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700");

 body {
     margin: 0;
     font-family: "PT Sans";
 }


 .col-1,
 .col-2,
 .col-3,
 .col-4,
 .col-5,
 .col-6,
 .col-7,
 .col-8,
 .col-9,
 .col-10,
 .col-11,
 .col-12,
 .col,
 .col-auto,
 .col-sm-1,
 .col-sm-2,
 .col-sm-3,
 .col-sm-4,
 .col-sm-5,
 .col-sm-6,
 .col-sm-7,
 .col-sm-8,
 .col-sm-9,
 .col-sm-10,
 .col-sm-11,
 .col-sm-12,
 .col-sm,
 .col-sm-auto,
 .col-md-1,
 .col-md-2,
 .col-md-3,
 .col-md-4,
 .col-md-5,
 .col-md-6,
 .col-md-7,
 .col-md-8,
 .col-md-9,
 .col-md-10,
 .col-md-11,
 .col-md-12,
 .col-md,
 .col-md-auto,
 .col-lg-1,
 .col-lg-2,
 .col-lg-3,
 .col-lg-4,
 .col-lg-5,
 .col-lg-6,
 .col-lg-7,
 .col-lg-8,
 .col-lg-9,
 .col-lg-10,
 .col-lg-11,
 .col-lg-12,
 .col-lg,
 .col-lg-auto,
 .col-xl-1,
 .col-xl-2,
 .col-xl-3,
 .col-xl-4,
 .col-xl-5,
 .col-xl-6,
 .col-xl-7,
 .col-xl-8,
 .col-xl-9,
 .col-xl-10,
 .col-xl-11,
 .col-xl-12,
 .col-xl,
 .col-xl-auto {
     position: relative;
     width: 100%;
     padding: 15px;
 }

 .col {
     flex-basis: 0;
     flex-grow: 1;
     max-width: 100%
 }

 .col-auto {
     flex: 0 0 auto;
     width: auto;
     max-width: 100%
 }

 .col-1 {
     flex: 0 0 8.3333333333%;
     max-width: 8.3333333333%
 }

 .col-2 {
     flex: 0 0 16.6666666667%;
     max-width: 16.6666666667%
 }

 .col-3 {
     flex: 0 0 25%;
     max-width: 25%
 }

 .col-4 {
     flex: 0 0 33.3333333333%;
     max-width: 33.3333333333%
 }

 .col-5 {
     flex: 0 0 41.6666666667%;
     max-width: 41.6666666667%
 }

 .col-6 {
     flex: 0 0 50%;
     max-width: 50%
 }

 .col-7 {
     flex: 0 0 58.3333333333%;
     max-width: 58.3333333333%
 }

 .col-8 {
     flex: 0 0 66.6666666667%;
     max-width: 66.6666666667%
 }

 .col-9 {
     flex: 0 0 75%;
     max-width: 75%
 }

 .col-10 {
     flex: 0 0 83.3333333333%;
     max-width: 83.3333333333%
 }

 .col-11 {
     flex: 0 0 91.6666666667%;
     max-width: 91.6666666667%
 }

 .col-12 {
     flex: 0 0 100%;
     max-width: 100%
 }

 .order-first {
     order: -1
 }

 .order-last {
     order: 13
 }

 .order-0 {
     order: 0
 }

 .order-1 {
     order: 1
 }

 .order-2 {
     order: 2
 }

 .order-3 {
     order: 3
 }

 .order-4 {
     order: 4
 }

 .order-5 {
     order: 5
 }

 .order-6 {
     order: 6
 }

 .order-7 {
     order: 7
 }

 .order-8 {
     order: 8
 }

 .order-9 {
     order: 9
 }

 .order-10 {
     order: 10
 }

 .order-11 {
     order: 11
 }

 .order-12 {
     order: 12
 }

 .offset-1 {
     margin-left: 8.3333333333%
 }

 .offset-2 {
     margin-left: 16.6666666667%
 }

 .offset-3 {
     margin-left: 25%
 }

 .offset-4 {
     margin-left: 33.3333333333%
 }

 .offset-5 {
     margin-left: 41.6666666667%
 }

 .offset-6 {
     margin-left: 50%
 }

 .offset-7 {
     margin-left: 58.3333333333%
 }

 .offset-8 {
     margin-left: 66.6666666667%
 }

 .offset-9 {
     margin-left: 75%
 }

 .offset-10 {
     margin-left: 83.3333333333%
 }

 .offset-11 {
     margin-left: 91.6666666667%
 }

 @media (min-width: 576px) {
     .col-sm {
         flex-basis: 0;
         flex-grow: 1;
         max-width: 100%
     }

     .col-sm-auto {
         flex: 0 0 auto;
         width: auto;
         max-width: 100%
     }

     .col-sm-1 {
         flex: 0 0 8.3333333333%;
         max-width: 8.3333333333%
     }

     .col-sm-2 {
         flex: 0 0 16.6666666667%;
         max-width: 16.6666666667%
     }

     .col-sm-3 {
         flex: 0 0 25%;
         max-width: 25%
     }

     .col-sm-4 {
         flex: 0 0 33.3333333333%;
         max-width: 33.3333333333%
     }

     .col-sm-5 {
         flex: 0 0 41.6666666667%;
         max-width: 41.6666666667%
     }

     .col-sm-6 {
         flex: 0 0 50%;
         max-width: 50%
     }

     .col-sm-7 {
         flex: 0 0 58.3333333333%;
         max-width: 58.3333333333%
     }

     .col-sm-8 {
         flex: 0 0 66.6666666667%;
         max-width: 66.6666666667%
     }

     .col-sm-9 {
         flex: 0 0 75%;
         max-width: 75%
     }

     .col-sm-10 {
         flex: 0 0 83.3333333333%;
         max-width: 83.3333333333%
     }

     .col-sm-11 {
         flex: 0 0 91.6666666667%;
         max-width: 91.6666666667%
     }

     .col-sm-12 {
         flex: 0 0 100%;
         max-width: 100%
     }

     .order-sm-first {
         order: -1
     }

     .order-sm-last {
         order: 13
     }

     .order-sm-0 {
         order: 0
     }

     .order-sm-1 {
         order: 1
     }

     .order-sm-2 {
         order: 2
     }

     .order-sm-3 {
         order: 3
     }

     .order-sm-4 {
         order: 4
     }

     .order-sm-5 {
         order: 5
     }

     .order-sm-6 {
         order: 6
     }

     .order-sm-7 {
         order: 7
     }

     .order-sm-8 {
         order: 8
     }

     .order-sm-9 {
         order: 9
     }

     .order-sm-10 {
         order: 10
     }

     .order-sm-11 {
         order: 11
     }

     .order-sm-12 {
         order: 12
     }

     .offset-sm-0 {
         margin-left: 0
     }

     .offset-sm-1 {
         margin-left: 8.3333333333%
     }

     .offset-sm-2 {
         margin-left: 16.6666666667%
     }

     .offset-sm-3 {
         margin-left: 25%
     }

     .offset-sm-4 {
         margin-left: 33.3333333333%
     }

     .offset-sm-5 {
         margin-left: 41.6666666667%
     }

     .offset-sm-6 {
         margin-left: 50%
     }

     .offset-sm-7 {
         margin-left: 58.3333333333%
     }

     .offset-sm-8 {
         margin-left: 66.6666666667%
     }

     .offset-sm-9 {
         margin-left: 75%
     }

     .offset-sm-10 {
         margin-left: 83.3333333333%
     }

     .offset-sm-11 {
         margin-left: 91.6666666667%
     }
 }

 @media (min-width: 768px) {
     .col-md {
         flex-basis: 0;
         flex-grow: 1;
         max-width: 100%
     }

     .col-md-auto {
         flex: 0 0 auto;
         width: auto;
         max-width: 100%
     }

     .col-md-1 {
         flex: 0 0 8.3333333333%;
         max-width: 8.3333333333%
     }

     .col-md-2 {
         flex: 0 0 16.6666666667%;
         max-width: 16.6666666667%
     }

     .col-md-3 {
         flex: 0 0 25%;
         max-width: 25%
     }

     .col-md-4 {
         flex: 0 0 33.3333333333%;
         max-width: 33.3333333333%
     }

     .col-md-5 {
         flex: 0 0 41.6666666667%;
         max-width: 41.6666666667%
     }

     .col-md-6 {
         flex: 0 0 50%;
         max-width: 50%
     }

     .col-md-7 {
         flex: 0 0 58.3333333333%;
         max-width: 58.3333333333%
     }

     .col-md-8 {
         flex: 0 0 66.6666666667%;
         max-width: 66.6666666667%
     }

     .col-md-9 {
         flex: 0 0 75%;
         max-width: 75%
     }

     .col-md-10 {
         flex: 0 0 83.3333333333%;
         max-width: 83.3333333333%
     }

     .col-md-11 {
         flex: 0 0 91.6666666667%;
         max-width: 91.6666666667%
     }

     .col-md-12 {
         flex: 0 0 100%;
         max-width: 100%
     }

     .order-md-first {
         order: -1
     }

     .order-md-last {
         order: 13
     }

     .order-md-0 {
         order: 0
     }

     .order-md-1 {
         order: 1
     }

     .order-md-2 {
         order: 2
     }

     .order-md-3 {
         order: 3
     }

     .order-md-4 {
         order: 4
     }

     .order-md-5 {
         order: 5
     }

     .order-md-6 {
         order: 6
     }

     .order-md-7 {
         order: 7
     }

     .order-md-8 {
         order: 8
     }

     .order-md-9 {
         order: 9
     }

     .order-md-10 {
         order: 10
     }

     .order-md-11 {
         order: 11
     }

     .order-md-12 {
         order: 12
     }

     .offset-md-0 {
         margin-left: 0
     }

     .offset-md-1 {
         margin-left: 8.3333333333%
     }

     .offset-md-2 {
         margin-left: 16.6666666667%
     }

     .offset-md-3 {
         margin-left: 25%
     }

     .offset-md-4 {
         margin-left: 33.3333333333%
     }

     .offset-md-5 {
         margin-left: 41.6666666667%
     }

     .offset-md-6 {
         margin-left: 50%
     }

     .offset-md-7 {
         margin-left: 58.3333333333%
     }

     .offset-md-8 {
         margin-left: 66.6666666667%
     }

     .offset-md-9 {
         margin-left: 75%
     }

     .offset-md-10 {
         margin-left: 83.3333333333%
     }

     .offset-md-11 {
         margin-left: 91.6666666667%
     }
 }

 @media (min-width: 992px) {
     .col-lg {
         flex-basis: 0;
         flex-grow: 1;
         max-width: 100%
     }

     .col-lg-auto {
         flex: 0 0 auto;
         width: auto;
         max-width: 100%
     }

     .col-lg-1 {
         flex: 0 0 8.3333333333%;
         max-width: 8.3333333333%
     }

     .col-lg-2 {
         flex: 0 0 16.6666666667%;
         max-width: 16.6666666667%
     }

     .col-lg-3 {
         flex: 0 0 25%;
         max-width: 25%
     }

     .col-lg-4 {
         flex: 0 0 33.3333333333%;
         max-width: 33.3333333333%
     }

     .col-lg-5 {
         flex: 0 0 41.6666666667%;
         max-width: 41.6666666667%
     }

     .col-lg-6 {
         flex: 0 0 50%;
         max-width: 50%
     }

     .col-lg-7 {
         flex: 0 0 58.3333333333%;
         max-width: 58.3333333333%
     }

     .col-lg-8 {
         flex: 0 0 66.6666666667%;
         max-width: 66.6666666667%
     }

     .col-lg-9 {
         flex: 0 0 75%;
         max-width: 75%
     }

     .col-lg-10 {
         flex: 0 0 83.3333333333%;
         max-width: 83.3333333333%
     }

     .col-lg-11 {
         flex: 0 0 91.6666666667%;
         max-width: 91.6666666667%
     }

     .col-lg-12 {
         flex: 0 0 100%;
         max-width: 100%
     }

     .order-lg-first {
         order: -1
     }

     .order-lg-last {
         order: 13
     }

     .order-lg-0 {
         order: 0
     }

     .order-lg-1 {
         order: 1
     }

     .order-lg-2 {
         order: 2
     }

     .order-lg-3 {
         order: 3
     }

     .order-lg-4 {
         order: 4
     }

     .order-lg-5 {
         order: 5
     }

     .order-lg-6 {
         order: 6
     }

     .order-lg-7 {
         order: 7
     }

     .order-lg-8 {
         order: 8
     }

     .order-lg-9 {
         order: 9
     }

     .order-lg-10 {
         order: 10
     }

     .order-lg-11 {
         order: 11
     }

     .order-lg-12 {
         order: 12
     }

     .offset-lg-0 {
         margin-left: 0
     }

     .offset-lg-1 {
         margin-left: 8.3333333333%
     }

     .offset-lg-2 {
         margin-left: 16.6666666667%
     }

     .offset-lg-3 {
         margin-left: 25%
     }

     .offset-lg-4 {
         margin-left: 33.3333333333%
     }

     .offset-lg-5 {
         margin-left: 41.6666666667%
     }

     .offset-lg-6 {
         margin-left: 50%
     }

     .offset-lg-7 {
         margin-left: 58.3333333333%
     }

     .offset-lg-8 {
         margin-left: 66.6666666667%
     }

     .offset-lg-9 {
         margin-left: 75%
     }

     .offset-lg-10 {
         margin-left: 83.3333333333%
     }

     .offset-lg-11 {
         margin-left: 91.6666666667%
     }
 }

 @media (min-width: 1200px) {
     .col-xl {
         flex-basis: 0;
         flex-grow: 1;
         max-width: 100%
     }

     .col-xl-auto {
         flex: 0 0 auto;
         width: auto;
         max-width: 100%
     }

     .col-xl-1 {
         flex: 0 0 8.3333333333%;
         max-width: 8.3333333333%
     }

     .col-xl-2 {
         flex: 0 0 16.6666666667%;
         max-width: 16.6666666667%
     }

     .col-xl-3 {
         flex: 0 0 25%;
         max-width: 25%
     }

     .col-xl-4 {
         flex: 0 0 33.3333333333%;
         max-width: 33.3333333333%
     }

     .col-xl-5 {
         flex: 0 0 41.6666666667%;
         max-width: 41.6666666667%
     }

     .col-xl-6 {
         flex: 0 0 50%;
         max-width: 50%
     }

     .col-xl-7 {
         flex: 0 0 58.3333333333%;
         max-width: 58.3333333333%
     }

     .col-xl-8 {
         flex: 0 0 66.6666666667%;
         max-width: 66.6666666667%
     }

     .col-xl-9 {
         flex: 0 0 75%;
         max-width: 75%
     }

     .col-xl-10 {
         flex: 0 0 83.3333333333%;
         max-width: 83.3333333333%
     }

     .col-xl-11 {
         flex: 0 0 91.6666666667%;
         max-width: 91.6666666667%
     }

     .col-xl-12 {
         flex: 0 0 100%;
         max-width: 100%
     }

     .order-xl-first {
         order: -1
     }

     .order-xl-last {
         order: 13
     }

     .order-xl-0 {
         order: 0
     }

     .order-xl-1 {
         order: 1
     }

     .order-xl-2 {
         order: 2
     }

     .order-xl-3 {
         order: 3
     }

     .order-xl-4 {
         order: 4
     }

     .order-xl-5 {
         order: 5
     }

     .order-xl-6 {
         order: 6
     }

     .order-xl-7 {
         order: 7
     }

     .order-xl-8 {
         order: 8
     }

     .order-xl-9 {
         order: 9
     }

     .order-xl-10 {
         order: 10
     }

     .order-xl-11 {
         order: 11
     }

     .order-xl-12 {
         order: 12
     }

     .offset-xl-0 {
         margin-left: 0
     }

     .offset-xl-1 {
         margin-left: 8.3333333333%
     }

     .offset-xl-2 {
         margin-left: 16.6666666667%
     }

     .offset-xl-3 {
         margin-left: 25%
     }

     .offset-xl-4 {
         margin-left: 33.3333333333%
     }

     .offset-xl-5 {
         margin-left: 41.6666666667%
     }

     .offset-xl-6 {
         margin-left: 50%
     }

     .offset-xl-7 {
         margin-left: 58.3333333333%
     }

     .offset-xl-8 {
         margin-left: 66.6666666667%
     }

     .offset-xl-9 {
         margin-left: 75%
     }

     .offset-xl-10 {
         margin-left: 83.3333333333%
     }

     .offset-xl-11 {
         margin-left: 91.6666666667%
     }
 }
 @media (min-width: 1800px) {
    .col-xxl {
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%
    }

    .col-xxl-auto {
        flex: 0 0 auto;
        width: auto;
        max-width: 100%
    }

    .col-xxl-1 {
        flex: 0 0 8.3333333333%;
        max-width: 8.3333333333%
    }

    .col-xxl-2 {
        flex: 0 0 16.6666666667%;
        max-width: 16.6666666667%
    }

    .col-xxl-3 {
        flex: 0 0 25%;
        max-width: 25%
    }

    .col-xxl-4 {
        flex: 0 0 33.3333333333%;
        max-width: 33.3333333333%
    }

    .col-xxl-5 {
        flex: 0 0 41.6666666667%;
        max-width: 41.6666666667%
    }

    .col-xxl-6 {
        flex: 0 0 50%;
        max-width: 50%
    }

    .col-xxl-7 {
        flex: 0 0 58.3333333333%;
        max-width: 58.3333333333%
    }

    .col-xxl-8 {
        flex: 0 0 66.6666666667%;
        max-width: 66.6666666667%
    }

    .col-xxl-9 {
        flex: 0 0 75%;
        max-width: 75%
    }

    .col-xxl-10 {
        flex: 0 0 83.3333333333%;
        max-width: 83.3333333333%
    }

    .col-xxl-11 {
        flex: 0 0 91.6666666667%;
        max-width: 91.6666666667%
    }

    .col-xxl-12 {
        flex: 0 0 100%;
        max-width: 100%
    }

    .order-xxl-first {
        order: -1
    }

    .order-xxl-last {
        order: 13
    }

    .order-xxl-0 {
        order: 0
    }

    .order-xxl-1 {
        order: 1
    }

    .order-xxl-2 {
        order: 2
    }

    .order-xxl-3 {
        order: 3
    }

    .order-xxl-4 {
        order: 4
    }

    .order-xxl-5 {
        order: 5
    }

    .order-xxl-6 {
        order: 6
    }

    .order-xxl-7 {
        order: 7
    }

    .order-xxl-8 {
        order: 8
    }

    .order-xxl-9 {
        order: 9
    }

    .order-xxl-10 {
        order: 10
    }

    .order-xxl-11 {
        order: 11
    }

    .order-xxl-12 {
        order: 12
    }

    .offset-xxl-0 {
        margin-left: 0
    }

    .offset-xxl-1 {
        margin-left: 8.3333333333%
    }

    .offset-xxl-2 {
        margin-left: 16.6666666667%
    }

    .offset-xxl-3 {
        margin-left: 25%
    }

    .offset-xxl-4 {
        margin-left: 33.3333333333%
    }

    .offset-xxl-5 {
        margin-left: 41.6666666667%
    }

    .offset-xxl-6 {
        margin-left: 50%
    }

    .offset-xxl-7 {
        margin-left: 58.3333333333%
    }

    .offset-xxl-8 {
        margin-left: 66.6666666667%
    }

    .offset-xxl-9 {
        margin-left: 75%
    }

    .offset-xxl-10 {
        margin-left: 83.3333333333%
    }

    .offset-xxl-11 {
        margin-left: 91.6666666667%
    }
}


 
 .markdown-body {
     font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
     font-size: 16px;
     line-height: 1.5;
     word-wrap: break-word
 }

 .markdown-body::before {
     display: table;
     content: ""
 }

 .markdown-body::after {
     display: table;
     clear: both;
     content: ""
 }

 .markdown-body>*:first-child {
     margin-top: 0 !important
 }

 .markdown-body>*:last-child {
     margin-bottom: 0 !important
 }

 .markdown-body a:not([href]) {
     color: inherit;
     text-decoration: none
 }

 .markdown-body .absent {
     color: #cb2431
 }

 .markdown-body .anchor {
     float: left;
     padding-right: 4px;
     margin-left: -20px;
     line-height: 1
 }

 .markdown-body .anchor:focus {
     outline: none
 }

 .markdown-body p,
 .markdown-body blockquote,
 .markdown-body ul,
 .markdown-body ol,
 .markdown-body dl,
 .markdown-body table,
 .markdown-body pre {
     margin-top: 0;
     margin-bottom: 16px
 }

 .markdown-body hr {
     height: .25em;
     padding: 0;
     margin: 24px 0;
     background-color: #e1e4e8;
     border: 0
 }

 .markdown-body blockquote {
     padding: 0 1em;
     color: #6a737d;
     border-left: 0.25em solid #dfe2e5
 }

 .markdown-body blockquote>:first-child {
     margin-top: 0
 }

 .markdown-body blockquote>:last-child {
     margin-bottom: 0
 }

 .markdown-body kbd {
     display: inline-block;
     padding: 3px 5px;
     font-size: 11px;
     line-height: 10px;
     color: #444d56;
     vertical-align: middle;
     background-color: #fafbfc;
     border: solid 1px #c6cbd1;
     border-bottom-color: #959da5;
     border-radius: 3px;
     box-shadow: inset 0 -1px 0 #959da5
 }

 .markdown-body h1,
 .markdown-body h2,
 .markdown-body h3,
 .markdown-body h4,
 .markdown-body h5,
 .markdown-body h6 {
     margin-top: 24px;
     margin-bottom: 16px;
     font-weight: 600;
     line-height: 1.25
 }

 .markdown-body h1 .octicon-link,
 .markdown-body h2 .octicon-link,
 .markdown-body h3 .octicon-link,
 .markdown-body h4 .octicon-link,
 .markdown-body h5 .octicon-link,
 .markdown-body h6 .octicon-link {
     color: #1b1f23;
     vertical-align: middle;
     visibility: hidden
 }

 .markdown-body h1:hover .anchor,
 .markdown-body h2:hover .anchor,
 .markdown-body h3:hover .anchor,
 .markdown-body h4:hover .anchor,
 .markdown-body h5:hover .anchor,
 .markdown-body h6:hover .anchor {
     text-decoration: none
 }

 .markdown-body h1:hover .anchor .octicon-link,
 .markdown-body h2:hover .anchor .octicon-link,
 .markdown-body h3:hover .anchor .octicon-link,
 .markdown-body h4:hover .anchor .octicon-link,
 .markdown-body h5:hover .anchor .octicon-link,
 .markdown-body h6:hover .anchor .octicon-link {
     visibility: visible
 }

 .markdown-body h1 tt,
 .markdown-body h1 code,
 .markdown-body h2 tt,
 .markdown-body h2 code,
 .markdown-body h3 tt,
 .markdown-body h3 code,
 .markdown-body h4 tt,
 .markdown-body h4 code,
 .markdown-body h5 tt,
 .markdown-body h5 code,
 .markdown-body h6 tt,
 .markdown-body h6 code {
     font-size: inherit
 }

 .markdown-body h1 {
     padding-bottom: 0.3em;
     font-size: 2em;
     border-bottom: 1px solid #eaecef
 }

 .markdown-body h2 {
     padding-bottom: 0.3em;
     font-size: 2.2em;
     border-bottom: 1px solid #eaecef
 }

 .markdown-body h3 {
     font-size: 1.7em
 }

 .markdown-body h4 {
     font-size: 1.25em
 }

 .markdown-body h5 {
     font-size: 1em
 }

 .markdown-body h6 {
     font-size: 0.875em;
     color: #6a737d
 }

 .markdown-body ul,
 .markdown-body ol {
     padding-left: 2em
 }

 .markdown-body ul.no-list,
 .markdown-body ol.no-list {
     padding: 0;
     list-style-type: none
 }

 .markdown-body ul ul,
 .markdown-body ul ol,
 .markdown-body ol ol,
 .markdown-body ol ul {
     margin-top: 0;
     margin-bottom: 0
 }

 .markdown-body li {
     word-wrap: break-all
 }

 .markdown-body li>p {
     margin-top: 16px
 }

 .markdown-body li+li {
     margin-top: .25em
 }

 .markdown-body dl {
     padding: 0
 }

 .markdown-body dl dt {
     padding: 0;
     margin-top: 16px;
     font-size: 1em;
     font-style: italic;
     font-weight: 600
 }

 .markdown-body dl dd {
     padding: 0 16px;
     margin-bottom: 16px
 }

 .markdown-body table {
     display: block;
     width: 100%;
     overflow: auto
 }

 .markdown-body table th {
     font-weight: 600
 }

 .markdown-body table th,
 .markdown-body table td {
     padding: 6px 13px;
     border: 1px solid #dfe2e5
 }

 .markdown-body table tr {
     background-color: #fff;
     border-top: 1px solid #c6cbd1
 }

 .markdown-body table tr:nth-child(2n) {
     background-color: #f6f8fa
 }

 .markdown-body table img {
     background-color: transparent
 }

 .markdown-body img {
     max-width: 100%;
     box-sizing: content-box;
     background-color: #fff
 }

 .markdown-body img[align=right] {
     padding-left: 20px
 }

 .markdown-body img[align=left] {
     padding-right: 20px
 }

 .markdown-body .emoji {
     max-width: none;
     vertical-align: text-top;
     background-color: transparent
 }

 .markdown-body span.frame {
     display: block;
     overflow: hidden
 }

 .markdown-body span.frame>span {
     display: block;
     float: left;
     width: auto;
     padding: 7px;
     margin: 13px 0 0;
     overflow: hidden;
     border: 1px solid #dfe2e5
 }

 .markdown-body span.frame span img {
     display: block;
     float: left
 }

 .markdown-body span.frame span span {
     display: block;
     padding: 5px 0 0;
     clear: both;
     color: #24292e
 }

 .markdown-body span.align-center {
     display: block;
     overflow: hidden;
     clear: both
 }

 .markdown-body span.align-center>span {
     display: block;
     margin: 13px auto 0;
     overflow: hidden;
     text-align: center
 }

 .markdown-body span.align-center span img {
     margin: 0 auto;
     text-align: center
 }

 .markdown-body span.align-right {
     display: block;
     overflow: hidden;
     clear: both
 }

 .markdown-body span.align-right>span {
     display: block;
     margin: 13px 0 0;
     overflow: hidden;
     text-align: right
 }

 .markdown-body span.align-right span img {
     margin: 0;
     text-align: right
 }

 .markdown-body span.float-left {
     display: block;
     float: left;
     margin-right: 13px;
     overflow: hidden
 }

 .markdown-body span.float-left span {
     margin: 13px 0 0
 }

 .markdown-body span.float-right {
     display: block;
     float: right;
     margin-left: 13px;
     overflow: hidden
 }

 .markdown-body span.float-right>span {
     display: block;
     margin: 13px auto 0;
     overflow: hidden;
     text-align: right
 }

 .markdown-body code,
 .markdown-body tt {
     padding: 0.2em 0.4em;
     margin: 0;
     font-size: 85%;
     background-color: rgba(27, 31, 35, 0.05);
     border-radius: 3px
 }

 .markdown-body code br,
 .markdown-body tt br {
     display: none
 }

 .markdown-body del code {
     text-decoration: inherit
 }

 .markdown-body pre {
     word-wrap: normal
 }

 .markdown-body pre>code {
     padding: 0;
     margin: 0;
     font-size: 100%;
     word-break: normal;
     white-space: pre;
     background: transparent;
     border: 0
 }

 .markdown-body .highlight {
     margin-bottom: 16px
 }

 .markdown-body .highlight pre {
     margin-bottom: 0;
     word-break: normal
 }

 .markdown-body .highlight pre,
 .markdown-body pre {
     padding: 16px;
     overflow: auto;
     font-size: 85%;
     line-height: 1.45;
     background-color: #f6f8fa;
     border-radius: 3px
 }

 .markdown-body pre code,
 .markdown-body pre tt {
     display: inline;
     max-width: auto;
     padding: 0;
     margin: 0;
     overflow: visible;
     line-height: inherit;
     word-wrap: normal;
     background-color: transparent;
     border: 0
 }

 .markdown-body .csv-data td,
 .markdown-body .csv-data th {
     padding: 5px;
     overflow: hidden;
     font-size: 12px;
     line-height: 1;
     text-align: left;
     white-space: nowrap
 }

 .markdown-body .csv-data .blob-num {
     padding: 10px 8px 9px;
     text-align: right;
     background: #fff;
     border: 0
 }

 .markdown-body .csv-data tr {
     border-top: 0
 }

 .markdown-body .csv-data th {
     font-weight: 600;
     background: #f6f8fa;
     border-top: 0
 }

 .highlight table td {
     padding: 5px
 }

 .highlight table pre {
     margin: 0
 }

 .highlight .cm {
     color: #999988;
     font-style: italic
 }

 .highlight .cp {
     color: #999999;
     font-weight: bold
 }

 .highlight .c1 {
     color: #999988;
     font-style: italic
 }

 .highlight .cs {
     color: #999999;
     font-weight: bold;
     font-style: italic
 }

 .highlight .c,
 .highlight .cd {
     color: #999988;
     font-style: italic
 }

 .highlight .err {
     color: #a61717;
     background-color: #e3d2d2
 }

 .highlight .gd {
     color: #000000;
     background-color: #ffdddd
 }

 .highlight .ge {
     color: #000000;
     font-style: italic
 }

 .highlight .gr {
     color: #aa0000
 }

 .highlight .gh {
     color: #999999
 }

 .highlight .gi {
     color: #000000;
     background-color: #ddffdd
 }

 .highlight .go {
     color: #888888
 }

 .highlight .gp {
     color: #555555
 }

 .highlight .gs {
     font-weight: bold
 }

 .highlight .gu {
     color: #aaaaaa
 }

 .highlight .gt {
     color: #aa0000
 }

 .highlight .kc {
     color: #000000;
     font-weight: bold
 }

 .highlight .kd {
     color: #000000;
     font-weight: bold
 }

 .highlight .kn {
     color: #000000;
     font-weight: bold
 }

 .highlight .kp {
     color: #000000;
     font-weight: bold
 }

 .highlight .kr {
     color: #000000;
     font-weight: bold
 }

 .highlight .kt {
     color: #445588;
     font-weight: bold
 }

 .highlight .k,
 .highlight .kv {
     color: #000000;
     font-weight: bold
 }

 .highlight .mf {
     color: #009999
 }

 .highlight .mh {
     color: #009999
 }

 .highlight .il {
     color: #009999
 }

 .highlight .mi {
     color: #009999
 }

 .highlight .mo {
     color: #009999
 }

 .highlight .m,
 .highlight .mb,
 .highlight .mx {
     color: #009999
 }

 .highlight .sb {
     color: #d14
 }

 .highlight .sc {
     color: #d14
 }

 .highlight .sd {
     color: #d14
 }

 .highlight .s2 {
     color: #d14
 }

 .highlight .se {
     color: #d14
 }

 .highlight .sh {
     color: #d14
 }

 .highlight .si {
     color: #d14
 }

 .highlight .sx {
     color: #d14
 }

 .highlight .sr {
     color: #009926
 }

 .highlight .s1 {
     color: #d14
 }

 .highlight .ss {
     color: #990073
 }

 .highlight .s {
     color: #d14
 }

 .highlight .na {
     color: #008080
 }

 .highlight .bp {
     color: #999999
 }

 .highlight .nb {
     color: #0086B3
 }

 .highlight .nc {
     color: #445588;
     font-weight: bold
 }

 .highlight .no {
     color: #008080
 }

 .highlight .nd {
     color: #3c5d5d;
     font-weight: bold
 }

 .highlight .ni {
     color: #800080
 }

 .highlight .ne {
     color: #990000;
     font-weight: bold
 }

 .highlight .nf {
     color: #990000;
     font-weight: bold
 }

 .highlight .nl {
     color: #990000;
     font-weight: bold
 }

 .highlight .nn {
     color: #555555
 }

 .highlight .nt {
     color: #000080
 }

 .highlight .vc {
     color: #008080
 }

 .highlight .vg {
     color: #008080
 }

 .highlight .vi {
     color: #008080
 }

 .highlight .nv {
     color: #008080
 }

 .highlight .ow {
     color: #000000;
     font-weight: bold
 }

 .highlight .o {
     color: #000000;
     font-weight: bold
 }

 .highlight .w {
     color: #bbbbbb
 }

 .highlight {
     background-color: #f8f8f8
 }

 .fa-ul {
     margin-left: 0
 }

 [data-marker="+"],
 [data-marker="-"] {
     cursor: pointer
 }

 [data-marker="+"]>.fa-li,
 [data-marker="-"]>.fa-li {
     user-select: none
 }

 [data-marker="+"]>.fa-li>.fa-plus-square,
 [data-marker="-"]>.fa-li>.fa-minus-square {
     font-size: 80%
 }

 [data-marker="+"]>ol,
 [data-marker="+"]>ul {
     display: none
 }

 [data-marker="*"]>.fa-li>.fa-circle {
     cursor: pointer;
     font-size: 40%;
     vertical-align: 40%
 }

 .next {
     display: none
 }

 details>summary {
     font-weight: bold
 }

 .markdown-body :last-child:not(.highlight) {
     margin-bottom: 0
 }

 html {
     font-size: 16px
 }

 body>div.container-fluid>div.row {
     align-items: flex-start
 }

 iframe {
     border: 0;
     display: block;
 }


 img {
     max-width: 100%
 }

 .img-thumbnail {
     width: fit-content
 }

 aside {
     background-color: #2F4858;
     color: rgba(255, 255, 255, 0.5);
     font-size: 1.125rem
 }

 body::-webkit-scrollbar, aside::-webkit-scrollbar ,.container-fluid::-webkit-scrollbar{
    width: 12px;
}
body::-webkit-scrollbar-thumb, aside::-webkit-scrollbar-thumb ,.container-fluid::-webkit-scrollbar-thumb{
    border-width:1px 1px 1px 2px;
    border-color: #777;
    background-color: #aaa;
}
body::-webkit-scrollbar-thumb:hover, aside::-webkit-scrollbar-thumb:hover ,.container-fluid::-webkit-scrollbar-thumb:hover{
    border-width: 1px 1px 1px 2px;
    border-color: #555;
    background-color: #777;
}
body::-webkit-scrollbar-track, aside::-webkit-scrollbar-track ,.container-fluid::-webkit-scrollbar-track{
    border-width:0;
}

 body.col-md {
     padding: 2rem 2rem
 }

 @media screen and (min-width: 768px) {
     aside.col-md {
         flex: 0 1 20rem
     }

     @supports (position: sticky) or (position: -webkit-sticky) {
         aside.col-md {
             height: 100vh;
             overflow-y: auto;
             top: 0;
             z-index: 1020
         }
     }

     @supports (position: sticky) {
         aside.col-md {
             position: sticky
         }
     }

     @supports (position: -webkit-sticky) {
         aside.col-md {
             position: -webkit-sticky
         }
     }
 }

 aside .badge {
     vertical-align: middle
 }
 aside ul {
     margin-bottom: 0;
 }
 aside h1,
 aside h2,
 aside h3,
 aside h4,
 aside h5,
 aside h6 {
     font-weight: bold
 }

 aside a,
 aside a:hover,
 aside button[data-toggle=collapse],
 aside button[data-toggle=collapse]:hover {
     background-color: inherit;
     border-color: rgba(255, 255, 255, 0.5);
     color: #fff
 }

 aside button[data-toggle=modal],
 aside button[data-toggle=modal]:hover {
     color: #fff
 }

 aside button[data-toggle=collapse]:hover {
     border-color: #fff
 }

 aside button[data-toggle=collapse]:not(.collapsed) {
     background-color: #fff;
     color: #000
 }

 aside p.small {
     line-height: 1.25
 }

 nav>*:first-child {
     margin-top: 1rem
 }

 header *:last-child,
 nav *:last-child,
 footer *:last-child {
     margin-bottom: 0
 }

 aside button[data-toggle=collapse],
 aside button[data-toggle=modal] {
     margin-top: 1rem
 }

 nav ol li,
 nav ul li {
     overflow: hidden;
     text-overflow: ellipsis;
     white-space: nowrap
 }

 nav ul {
     list-style: none;
     padding-left: 0
 }

 nav ul ul {
     list-style: inside
 }

 nav ol {
     list-style-position: inside;
     padding-left: 0
 }


 footer:empty {
     margin-top: 0
 }

 main.col-md {
    max-width: 80rem;
     overflow: auto;
     padding: 4rem 2rem
 }

 mark,
 .mark {
     background-color: inherit;
     color: inherit;
     font-weight: bold;
     padding: 0
 }

 .markdown-body {
     word-break: break-word
 }

 .markdown-body table {
     word-break: normal
 }

 .markdown-body {
     font-family: inherit;
     font-size: inherit
 }

 .markdown-body code {
     white-space: pre-wrap
 }

 .markdown-body h1,
 .markdown-body h2,
 .markdown-body h3,
 .markdown-body h4,
 .markdown-body h5,
 .markdown-body h6 {
     margin-top: 0;
     padding-top: 16px
 }

 .markdown-body h1>em,
 .markdown-body h2>em,
 .markdown-body h3>em,
 .markdown-body h4>em,
 .markdown-body h5>em,
 .markdown-body h6>em {
     font-style: normal
 }

 .markdown-body h1 a[data-id],
 .markdown-body h2 a[data-id],
 .markdown-body h3 a[data-id],
 .markdown-body h4 a[data-id],
 .markdown-body h5 a[data-id],
 .markdown-body h6 a[data-id] {
     color: inherit;
     text-decoration: none
 }

 .markdown-body ol>li:first-child,
 .markdown-body ul>li:first-child {
     margin-top: .25em
 }

 .markdown-body li>blockquote,
 .markdown-body li>div>div.highlight,
 .markdown-body li>img,
 .markdown-body li>pre {
     margin-top: .25em
 }

 .markdown-body li>div>div.highlight {
     margin-bottom: 0
 }

 .markdown-body hr {
     background-color: #eaecef;
     height: 1px;
     margin: 16px 0
 }

 .markdown-body .embed-responsive {
     margin-bottom: 16px
 }

 .markdown-body summary {
     margin-bottom: 16px
 }

 .markdown-body details {
     margin-bottom: 16px
 }

 .modal-dialog {
     max-height: inherit;
     max-width: inherit;
     margin: 0 auto;
     width: 80vw
 }

 .modal-content {
     height: 80vh
 }

 #markdown-toc li+li,
 #markdown-toc ol>li:first-child,
 #markdown-toc ul>li:first-child {
     margin-top: 0
 }

 #search ol {
     list-style-type: none;
     padding-left: 1rem;
     padding-right: 1rem
 }

 @media (max-width: 767.98px),
 print {

     small,
     .small {
         font-size: 90%
     }
 }

 @media print {
     aside.col-md {
         flex: unset
     }

     aside button[data-toggle=collapse] {
         display: none
     }

     nav.collapse:not(.show),
     footer {
         display: none !important
     }

     #search {
         display: none !important
     }

     a[href^='http']:after {
         content: " ("attr(href) ")";
         word-break: break-word
     }
 }

 aside {
     background-color: var(--aside)
 }
header {
    background-color: var(--dark);
}
footer {
    margin: 0;
    background-color: var(--dark);
}
 aside h1 {
     font-size: 1.75rem
 }

 hr {
     border-top: 1px solid rgba(255, 255, 255, 0.25)
 }
 .btn-copy {
	position: absolute;
	right: 11px;
	padding: 2px 3px;
	display: block;
	border-radius: 5px;
	border: 1px solid rgba(0, 0, 0, 0.384);
}
img {
	display: block;
	margin: 5px auto;
}

@media screen and (max-width: 767.98px) {
	.aside-desktop {
        display: none;
    }
    #pa_h {
        display: none;
    }
    #pa-icon_h {
        display: inline;
    }
}
@media screen and (max-width: 430px) {
    #usersurname_h {
        display: none;
    }
}
.hidden {
    display: none;
}
[aria-hidden="true"] {display: none; }
[disabled]>span {display: inline-block; }

.dinamicMenu li{
    color: white;
}
.dinamicMenu li:hover{
    color: #4ae3b5;
}
.dinamicMenu .active{
    color: #4ae3b5;
}
/* .dinamicMenu li:hover{
    color: #76E5FC;
}
.dinamicMenu .active{
    color: #76E5FC;
} */
.dinamicMenu ul ul{
    padding-left: 1rem;
}
.scod-flex-container{
    display: flex;
    /* flex-wrap: wrap; */
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    flex-direction: column !important;
}
